{% extends 'base.html.twig' %}

{% block body %}
    {% include "::tournament-helper.html.twig" %}

    <table class="table is-bordered is-striped is-narrow is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Rank</th>
                <th class="has-text-centered">Name</th>
                {% for problem in tournament.problems %}
                    <th class="has-addons-centered small">{{ problem.title }}</th>
                {% endfor %}
                <th class="has-text-centered">Time</th>
            </tr>
        </thead>
        <tbody>
            {% set rank = 1 %}
            {% for userId, value in totalTimes %}
                <tr>
                    <td class="has-text-centered">{{ rank }}</td>
                    <td class="has-text-centered">{{ userNames[userId] }}</td>
                    {% for problem in tournament.problems %}
                        <td class="has-addons-centered small">
                            {% if rating[userId][problem.id].accepted %}
                                +{% if rating[userId][problem.id].count > 0 %}
                                    {{ rating[userId][problem.id].count }}
                                {% endif %}
                                <br/>
                                {{ rating[userId][problem.id].sentTime }}
                            {% else %}
                                {% if rating[userId][problem.id].count > 0 %}
                                    -{{ rating[userId][problem.id].count }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="has-text-centered"> {{ (value/60)|number_format }}</td>
                </tr>
            {% set rank = rank + 1 %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}