<table class="table is-bordered is-striped is-narrow is-fullwidth">
    <thead>
    <tr>
        <th class="has-text-centered">ID</th>
        <th class="has-text-centered">{{ 'solution.date' | trans }}</th>
        <th>{{ 'solution.author' | trans }}</th>
        <th class="has-text-centered">{{ 'solution.problem' | trans }}</th>
        <th class="has-text-centered">{{ 'solution.language' | trans }}</th>
        <th class="has-text-centered">{{ 'solution.result' | trans }}</th>
        <th class="has-text-centered">Test</th>
        <th class="has-text-centered">Time</th>
        <th class="has-text-centered">Memory</th>
    </tr>
    </thead>
    <tbody>
    {% for solution in pagination %}
        <tr>
            <td class="has-text-centered">
                {% if ("ROLE_SUPER_ADMIN" in app.user.roles) or app.user.id == solution.user.id %}
                <a href="{{ path('solution', {id: solution.id}) }}">{{ solution.id }}</a>
                {% else %}
                    {{ solution.id }}
                {% endif %}
            </td>
            <td class="has-text-centered">
                {% if solution.createdAt %}
                    {{ solution.createdAt|date('d.m.Y H:i:s') }}
                {% endif %}
            </td>
            <td>{{ solution.user }}</td>
            <td class="has-text-centered">{{ solution.problem }}</td>
            <td class="has-text-centered">{{ solution.language }}</td>
            <td class="has-text-centered">
                <span class="has-text-{% if solution.status.id == 1 %}success{% elseif solution.status.id < 8 %}danger{% else %}{% endif %}">
                    {{ solution.status.title }}
                </span>
            </td>
            <td class="has-text-centered">{{ solution.test }}</td>
            <td class="has-text-centered">{{ solution.time | number_format(3) }}</td>
            <td class="has-text-centered">{{ (solution.memory/1024) | number_format(2) }} KB</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(pagination) }}