{% extends 'base.html.twig' %}

{% block body %}
    <div>Total: {{ pagination.getTotalItemCount }}</div>

    <table class="table is-bordered is-striped is-narrow is-fullwidth">
        <thead>
        <tr>
            <th class="has-text-centered">Rank</th>
            <th class="has-text-centered">Name</th>
            <th class="has-text-centered">Solved</th>
            <th class="has-text-centered">Submission</th>
        </tr>
        </thead>
        <tbody>
        {% set rank = app.request.get('page', 1)|number_format * perPage %}
        {% for value in pagination %}
            <tr>
                <td class="has-text-centered">{{ rank }}</td>
                <td class="has-text-centered">{{ value.user.username }}</td>
                <td class="has-text-centered"> {{ value.solvedProblemCount }}</td>
                <td class="has-text-centered"> {{ value.allSentProblemCount }}</td>
            </tr>
            {% set rank = rank + 1 %}
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

{% endblock %}