{% extends "::base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/ace-builds/src-min/ace.js') }}"></script>
    <script src="{{ asset('vendor/ace-builds/src-min/mode-c_cpp.js') }}"></script>
    <script src="{{ asset('vendor/ace-builds/src-min/mode-java.js') }}"></script>
{% endblock %}

{% block title %}AppBundle:Problem:problem{% endblock %}

{% block body %}
    {% include "@App/Problem/_tabs.html.twig" %}

    {{ form_start(form, {attr: {id: 'sent_form'}}) }}

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            {{ form_label(form.compiler) }}
        </div>
        <div class="field-body">
            <div class="select">
                {{ form_widget(form.compiler) }}
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">

        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form_widget(form.code_input) }}
                    <div id="editor" style="width: 70%; border: solid 1px #dbdbdb;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">

        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    {{ form_widget(form.submit, {attr: {class: 'button is-primary'}}) }}
                </div>
            </div>
        </div>
    </div>


    {{ form_widget(form) }}
    {{ form_end(form) }}

    <script type="application/javascript">
        var editor = ace.edit('editor');
        editor.setOptions({maxLines:30, minLines:20});
        editor.setAutoScrollEditorIntoView(true);
        editor.setShowPrintMargin(false);

        editor.session.on('change', function(e) {
            $('#form_code_input').val(editor.getValue());
        });
        changeAceMode();
        $('#form_compiler').change(function() {
           changeAceMode();
        });

        function changeAceMode() {
            var language = $('#form_compiler option:selected').text(), modeName = '';
            if (language === 'C++') {
                modeName = 'c_cpp';
            } else {
                modeName = language.toLowerCase();
            }
            var cppMode = ace.require('ace/mode/' + modeName).Mode;
            editor.session.setMode(new cppMode);
        }

    </script>
{% endblock %}